.color-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .verte__guide {
    border-radius: 100%;
    border: 1px solid $grey-300;
    box-shadow: $card-shadow;
  }
}