.media.comment {
  align-items: center;

  .media-left {
    margin: 0 1em;
  }

  @media screen and (min-width: $tablet) {
    .comment-info.is-pulled-up {
      margin-bottom: -3rem;
    }
  }

  .editor .tabs {
    margin-bottom: 0;

    ul {
      border-bottom: none;
    }
  }

  .comment-actions {
    font-size: .8em;

    &, a {
      color: $grey;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}