.labels-list {
  a, a:hover {
    text-decoration: none;
  }

  .tag {
    margin: .5rem 0 .5rem .5rem;
    background: $grey-200;

    &.disabled {
      opacity: 0.7;

      &, a {
        cursor: default;
      }
    }
  }

  .multiselect .tag {
    margin: 0 0 0 .5rem;
  }
}

.tasks .task span.tag span {
  width: auto;
}

