.card.is-fullwidth{
  margin-bottom: 1rem;

  .add-form {
    margin: 1rem;
  }

  .content {
    padding: 0;
  }

  .table{
    border-top: 1px solid darken(#fff, 15%);

    td{
      vertical-align: middle;
    }

    td.type, td.actions{
      width: 250px;
    }

    td.actions{
      text-align: right;
    }
  }
}

.sharables-list, .sharables-namespace{
  padding: 0 !important;
}

.task-add .button {
  padding: 10px 1em;
  height: 40px;
}

.search {
  max-width: 300px;
  margin-top: -78px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .field {
    transition: width $transition;
    width: 100%;

    &.hidden {
      width: 0;
      height: 0;
      margin: 0;
      overflow: hidden;
    }

    .button {
      height: 100%;
    }
  }
}
