.card.is-fullwidth {
  margin-bottom: 1rem;

  .add-form {
    margin: 1rem;
  }

  .content {
    padding: 0;
  }

  .table {
    border-top: 1px solid darken(#fff, 15%);
    border-radius: 4px;
    overflow: hidden;

    td {
      vertical-align: middle;
    }

    td.type, td.actions {
      width: 250px;
    }

    td.actions {
      text-align: right;
    }
  }
}

.sharables-list, .sharables-namespace {
  padding: 0 !important;
}

.task-add .button {
  padding: 10px 1em;
  height: 40px;
}

.list-title {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $tablet) {
    // We need a fixed width for overflowing ellipsis to work
    width: calc(100vw - #{$user-dropdown-width-mobile} - #{2 * $hamburger-menu-icon-spacing} - #{$hamburger-menu-icon-width} - 1rem); // -1rem for the edit icon
  }

  h1 {
    margin: 0;
  }

  .icon {
    color: $grey-dark;
    margin-left: 1rem;
    height: 1rem;
    width: 1rem;
  }
}

.edit-list {
  padding-bottom: 1em;
}

.filter-container {
  text-align: right;
  width: 100%;
  min-width: 400px;
  max-width: 180px;
  position: absolute;
  right: 1.5em;
  margin-top: -58px;
  z-index: 4;

  .items {
    display: flex;
    justify-content: flex-end;

    .button:not(:last-child) {
      margin-right: .5em;
    }
  }

  .button {
    height: $switch-view-height;
  }

  .card {
    text-align: left;
    margin-top: calc(1rem - 1px);
    float: right;
  }

  .fancycheckbox {
    display: block;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: .5em;

    .button, .input {
      height: $switch-view-height;
    }

    .field {
      transition: width $transition;
      width: 100%;

      &.hidden {
        width: 0;
        height: 0;
        margin: 0;
        overflow: hidden;
      }

      .button {
        height: 100%;
      }
    }
  }

  .filters input {
    font-size: .9em;
  }

  @media screen and (max-width: $tablet) {
    position: static;
    margin: 1rem 0;
    max-width: 100%;
    min-width: auto;

    .search {
      width: 100%;

      .control:first-child {
        width: 100%;
      }
    }
  }
}

.list-namespace-title {
  color: $grey;
}
