.quick-actions {
	.action-input {
		display: flex;
		align-items: center;

		.input {
			border: 0;
			font-size: 1.5rem;
		}

		&.has-active-cmd .input {
			padding-left: .5rem;
		}

		.active-cmd {
			font-size: 1.25rem;
			margin-left: .5rem;
		}
	}

	.results {
		text-align: left;
		width: 100%;
		color: $grey-800;

		.result {
			&-title {
				background: $grey-50;
				padding: .5rem;
				display: block;
				font-size: .75rem;
			}

			&-items {
				button {
					font-size: .9rem;
					width: 100%;
					background: transparent;
					text-align: left;
					box-shadow: none;
					border-radius: 0;
					text-transform: none;
					font-family: $family-sans-serif;
					font-weight: normal;
					padding: .5rem .75rem;
					border: none;
					cursor: pointer;

					&:focus, &:hover {
						background: $grey-50;
						box-shadow: none !important;
					}

					&:active {
						background: $grey-100;
					}
				}
			}
		}
	}
}