.reminders {
  .reminder-input {
    display: flex;
    align-items: center;

    &.overdue input {
      color: $red;
    }

    &:last-child {
      margin-bottom: 0.75rem;
    }

    a {
      color: $red;
      padding-left: .5rem;
    }

    input {
      width: 100%;
      border: none;

      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }
}
