.reminders {
  .reminder-input {
    display: flex;
    align-items: center;

    &.overdue .datepicker a.show {
      color: $red;
    }

    &:last-child {
      margin-bottom: 0.75rem;
    }

    a.remove {
      color: $red;
      padding-left: .5rem;
    }
  }
}
