.table-view {
  .table {
    background: transparent;
    overflow-x: auto;
    overflow-y: hidden;

    .user {
      margin: 0;
    }

    .is-done {
      font-size: .9em;
      margin: 0;
    }
  }

  .column-filter {
    text-align: right;
    width: 100%;
    max-width: 180px;
    position: absolute;
    right: 1.5em;
    margin-top: -58px;

    .button {
      height: $switch-view-height;
    }

    .card {
      text-align: left;
      margin-top: 1em;
    }

    .fancycheckbox {
      display: block;
    }
  }
}