.task-view {
  // This is a workaround to hide the llama background from the top on the task detail page
  margin-top: -1.5em;
  padding: 1em;
  background-color: $light-background;

  .subtitle {
    color: $grey;

    a {
      color: $grey-dark;
    }
  }

  .has-top-border {
    border-top: 1px solid lighten($grey, 35%);
    padding-top: .5em;
  }

  h3 .button {
    vertical-align: middle;
  }

  .icon.is-grey {
    color: lighten($grey, 5%);
  }

  .heading {
    display: flex;
    justify-content: space-between;
    text-transform: none;
    align-items: center;

    .title {
      margin-bottom: 0;

      &.input {
        // 1.8rem is the font-size, 1.125 is the line-height, .3em padding everywhere, 1px border around the whole thing.
        min-height: calc(1.8rem * 1.125 + .6em + 2px);
      }
    }

    .title.task-id {
      color: lighten($grey, 25%);
      white-space: nowrap;
    }

    @media screen and (max-width: $tablet) {
      flex-direction: column;
      align-items: start;

      .title.input {
        margin: 0 -.3em .5rem -.3em; // the title has 0.3em padding - this make the text inside of it align with the rest
      }
    }
  }

  .date-input {
    display: flex;
    align-items: center;

    a.remove {
      color: $red;
      vertical-align: middle;
      padding-left: .5em;
      line-height: 1;
    }
  }

  .datepicker {
    width: 100%;

    a.show {
      color: $text;
      padding: .25rem .5rem;
      transition: background-color $transition;
      border-radius: $radius;
      display: block;
      margin: .1rem 0;

      &:hover {
        background: $white;
      }
    }

    &.disabled a.show:hover {
      background: transparent;
    }
  }

  table {
    table-layout: fixed;

    td {
      overflow: hidden;
      word-break: break-all;
    }
  }

  .details {
    padding-bottom: 0.75em;
    flex-flow: row wrap;

    .detail-title {
      display: block;
      color: lighten($grey, 15%);
    }

    .none {
      font-style: italic;
    }

    // Break after the 2nd element
    .column:nth-child(2n) {
      page-break-after: always; // CSS 2.1 syntax
      break-after: always; // New syntax
    }

    &.labels-list, .assignees {
      .multiselect {
        .input-wrapper {
          &:not(:focus-within):not(:hover) {
            background: transparent !important;
            border-color: transparent !important;
          }
        }
      }
    }

    &.description .editor {

      &.is-pulled-up {
        margin-top: -3.5rem;
      }

      .tabs {
        margin-bottom: 0;

        ul {
          border-bottom: none;
        }
      }
    }
  }

  .details, .heading {
    .input:not(.has-defaults),
    .textarea,
    .select:not(.has-defaults) select {
      border-color: transparent;
      background: transparent;
      cursor: pointer;
      transition: all $transition-duration;

      &::placeholder {
        color: $text-light;
        opacity: 1;
        font-style: italic;
      }

      &:not(:disabled) {
        &:hover, &:active {
          background: $input-background-color;
          border-color: $input-border-color;
          cursor: text;
        }

        &:focus {
          background: $input-background-color;
          border-color: $input-focus-border-color;
        }
      }
    }

    .select:not(.has-defaults):after {
      opacity: 0;
    }

    .select:not(.has-defaults):hover:after {
      opacity: 1;
    }
  }

  .attachments {
    margin-bottom: 0;

    table tr:last-child td {
      border-bottom: none;
    }
  }

  .action-buttons {
    a.button {
      width: 100%;
      margin-bottom: .5em;
      justify-content: left;
    }
  }

  .created {
    font-size: .75rem;
    color: $grey;
    text-align: right;
  }
}

.task-view-container {
  padding-bottom: 1em;
}

.is-done {
  background: $green;
  color: $white;
  padding: .5em;
  font-size: 1.5em;
  margin-left: .5em;
  font-weight: bold;
  line-height: 1;
  border-radius: 4px;
  text-align: center;
}

.modal-container .task-view {
  border-radius: $radius;
  padding: 1em;
  color: $text;
  background-color: $light-background !important;

  @media screen and (max-width: 800px) {
    border-radius: 0;
    padding-top: 2rem;
  }
}

.link-share-container .task-view {
  background-color: transparent;
}

.flash-background-enter, .flash-background-enter-active  {
  animation: flash-background $flash-background-duration ease 1;
}

@keyframes flash-background {
  0% {
    background: lighten($primary, 30);
  }
  100% {
    background: transparent;
  }
}