.task-relations {
  padding-bottom: 1em;

  &.is-narrow .columns {
    display: block;

    .column {
      width: 100%;
    }
  }

  .related-tasks {
    margin-bottom: .75em;

    .title {
      font-size: 1em;
      margin: 0;
    }

    .tasks {
      margin: 0;

      .task {
        padding: .5em;
      }
    }
  }

  .none {
    font-style: italic;
    text-align: center;
  }
}