.tasks {
	margin-top: 1rem;
	padding: 0;
	text-align: left;

	
	@media screen and (max-width: $tablet) {
		max-width: 100%;
	}

	&.short {
		@media screen and (min-width: $tablet) {
			max-width: 53vw;
		}
	}

	.progress {
		// overwrite bulma
		margin-bottom: 0;
	}

	&.noborder {
		margin: 1rem -0.5rem;
	}

	.task {
		margin: 0 .5rem;
	
		&:first-child {
			margin-top: .5rem;
		}
	
		&:last-child {
			margin-bottom: .5rem;
			border-bottom: none;
		}
	}

	.checklist-summary {
		padding-left: .5rem;
		font-size: .9rem;
	}

}

.is-menu-enabled .tasks .task {
	span:not(.tag), a {
		.tasktext,
		&.tasktext {
			@media screen and (max-width: $desktop) {
				max-width: calc(100vw - 27px - 2rem - 1.5rem - 3rem - #{$navbar-width}); // 1.5rem is the padding of the tasks container, 3rem is the padding of .app-container
			}

			// Duplicated rule to have it work properly in at least some browsers
			// This should be fine as the ui doesn't work in rare edge cases to begin with
			@media screen and (max-width: calc(#{$desktop} + #{$navbar-width})) {
				max-width: calc(100vw - 27px - 2rem - 1.5rem - 3rem - #{$navbar-width}); // 1.5rem is the padding of the tasks container, 3rem is the padding of .app-container
			}
		}
	}
}

.is-max-width-desktop .tasks .task {
	max-width: $desktop;
}