.card {
  background-color: $white;
  border-radius: $radius;
  margin-bottom: 1rem;

  .card-image {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  .card-header {
    box-shadow: none;
    border-bottom: 1px solid $grey-200;
    border-radius: $radius $radius 0 0;
  }

  .modal-card-foot {
    background: $grey-50;
    border-top: 0;
  }
}

.box, .card {
  border: 1px solid $grey-200;
  box-shadow: $shadow-sm;
}
