# https://github.com/pnpm/pnpm/issues/8378#issuecomment-2636152421
public-hoist-pattern[]=*eslint*

# Make sure to install Cypress binary
# https://github.com/cypress-io/github-action/blob/108b8684ae52e735ff7891524cbffbcd4be5b19f/README.md#pnpm
side-effects-cache=false
