# Source-control & editors
.git
.github
.vscode
.idea
*.swp

files/
dist/
logs/
docs/
.devenv/
.direnv/
.idea/

Dockerfile
docker-manifest.tmpl
docker-manifest-unstable.tmpl
*.db
*.zip

# Frontend
/frontend/node_modules/
/frontend/.direnv
/frontend/dist

# OS
.DS_Store
Thumbs.db
