.idea/
.idea/*/*
.idea/httpRequests
config.yml
config.yaml
!docs/config.yml
docs/themes/
*.db
Run
dist/
cover.*
/vikunja
Test_*
bin/
secrets
*.deb
debian/
logs/
docs/public/
docs/resources/
pkg/static/templates_vfsdata.go
files/
!pkg/files/
vikunja-dump*
vendor/
os-packages/
mage_output_file.go
