service:
  # This token is used to verify issued JWT tokens.
  # Default is a random token which will be generated at each startup of vikunja.
  # (This means all already issued tokens will be invalid once you restart vikunja)
  JWTSecret: "cei6gaezoosah2bao3ieZohkae5aicah"
  # The interface on which to run the webserver
  interface: ":3456"
  # The URL of the frontend, used to send password reset emails.
  frontendurl: ""
  # The number of items which gets returned per page
  pagecount: 50

database:
  # Database type to use. Supported types are mysql and sqlite.
  type: "sqlite"
  # Database user which is used to connect to the database.
  user: "vikunja"
  # Databse password
  password: ""
  # Databse host
  host: "localhost"
  # Databse to use
  database: "vikunja"
  # When using sqlite, this is the path where to store the data
  Path: "./vikunja.db"
  # Whether to show mysql queries or not. Useful for debugging.
  showqueries: "false"

cache:
  # If cache is enabled or not
  enabled: false
  # Cache type. Possible values are memory or redis
  type: memory
  # When using memory this defines the maximum size an element can take
  maxelementsize: 1000
  # When using redis, this is the host of the redis server including its port.
  redishost: 'localhost:6379'
  # When using redis, this is the password used to authenicate against the redis server
  redispassword: ''

mailer:
  # SMTP Host
  host: ''
  # SMTP Host port
  port: 587
  # SMTP username
  username: 'user'
  # SMTP password
  password: ''
  # Wether to skip verification of the tls certificate on the server
  skiptlsverify: false
  # The default from address when sending emails
  fromemail: 'mail@vikunja'
