image: vikunja/api:unstable
manifests:
  -
    image: vikunja/api:unstable-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: vikunja/api:unstable-linux-arm64
    platform:
      architecture: arm64
      os: linux
  -
    image: vikunja/api:unstable-linux-arm
    platform:
      architecture: arm
      os: linux
