[build]
  command = "yarn build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
  	X-Frame-Options = "DENY"
	X-XSS-Protection = "1; mode=block"
	X-Robots-Tag = "noindex"
