$font-files-path: '@/assets/fonts/';

// this is the same as the latin range that google uses.
// see for example the unicode-range definition here:
// https://fonts.googleapis.com/css2?family=Open+Sans
$unicode-range: "U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,\
  U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,\
  U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD";

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Quicksand';
    src: url($font-files-path + 'Quicksand[wght]_87bdcc7f.woff2') format('woff2-variations');
    src: url($font-files-path + 'Quicksand[wght]_87bdcc7f.woff2') format('woff2') tech('variations');
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    unicode-range: $unicode-range;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url($font-files-path + 'OpenSans[wght]_54a65da5.woff2') format('woff2-variations');
    src: url($font-files-path + 'OpenSans[wght]_54a65da5.woff2') format('woff2') tech('variations');
    font-weight: 400 700;
    font-display: swap;
    unicode-range: $unicode-range;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url($font-files-path + 'OpenSans-Italic[wght]_c9a8fe68.woff2') format('woff2-variations');
    src: url($font-files-path + 'OpenSans-Italic[wght]_c9a8fe68.woff2') format('woff2') tech('variations');
    font-weight: 400 700;
    font-style: italic;
    font-display: swap;
    unicode-range: $unicode-range;
  }
}

/* Set up for old browsers */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'Quicksand';
    src: url($font-files-path + 'Quicksand-Regular_3e913e7e.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: $unicode-range;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url($font-files-path + 'Quicksand-SemiBold_be48a442.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    unicode-range: $unicode-range;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url($font-files-path + 'Quicksand-Bold_20b26f76.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    unicode-range: $unicode-range;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url($font-files-path + 'OpenSans-Regular_d0acb717.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: $unicode-range;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url($font-files-path + 'OpenSans-RegularItalic_48244a7a.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    unicode-range: $unicode-range;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url($font-files-path + 'OpenSans-Bold_eb52363b.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    unicode-range: $unicode-range;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url($font-files-path + 'OpenSans-BoldItalic_3ff98862.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    unicode-range: $unicode-range;
  }
}