$font-files-path: '/fonts/';

// quicksand-regular - latin
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url($font-files-path + 'quicksand-v7-latin-regular.woff2') format('woff2');
  
}

// quicksand-500 - latin
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url($font-files-path + 'quicksand-v7-latin-500.woff2') format('woff2');
}

// quicksand-700 - latin
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($font-files-path + 'quicksand-v7-latin-700.woff2') format('woff2');
}

// open-sans-regular - latin
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url($font-files-path + 'open-sans-v15-latin-regular.woff2') format('woff2');
}

// open-sans-italic - latin
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url($font-files-path + 'open-sans-v15-latin-italic.woff2') format('woff2');
}

// open-sans-700 - latin
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($font-files-path + 'open-sans-v15-latin-700.woff2') format('woff2');
}

// open-sans-700italic - latin
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url($font-files-path + 'open-sans-v15-latin-700italic.woff2') format('woff2');
}
