.content h3 {
	.icon,
	.is-small {
		font-size: 1rem;
	}
}

.table.has-actions {
	border-block-start: 1px solid var(--grey-100);
	border-radius: 4px;
	overflow: hidden;

	td {
		vertical-align: middle;
	}

	td.actions {
		text-align: end;
	}
}

.content-widescreen {
	margin: 0 auto;
	max-width: $widescreen;
}

.content blockquote {
  background-color: var(--grey-200);
  border-inline-start: .25rem solid var(--grey-300);
}

.content ul {
	margin-left: 0; // override bulma styles
	margin-inline-start: 2rem;
}
