.field.has-addons.no-input-mobile {
  .control:first-child {
    width: 100%;

		@media screen and (max-width: $tablet) {
				display: none;
		}
  }

  .button {
    height: 40px;

		@media screen and (max-width: $tablet) {
			border-radius: $radius !important;
		}
  }
}
