// FIXME: move to Loading.vue 
.loader-container.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;

  &::after {
    @include loader;
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: 5rem;
    border-width: 0.25rem;
  }

  &.is-loading-small {
    &::after {
      width: 1.5rem;
      height: 1.5rem;
      top: calc(50% - .75rem);
      left: calc(50% - .75rem);
      border-width: 2px;
    }
  }
}

// FIXME: move to ShowTasks.vue 
.spinner.is-loading {
  pointer-events: none;

  &::after {
    @include loader;
    width: 2rem;
    height: 2rem;
    margin-left: calc(50% - 1rem);
    margin-top: 1rem;
    border-width: 0.25rem;
  }
}
