:root {
  --row-bg: #fff;
  --row-alt-bg: #f9f9f9;
  --row-selected-bg: #e7f1ff;
  --bar-bg: #0d6efd;
  --bar-bg-active: #0b5ed7;
  --bar-bg-drag: #084298;
  --bar-stroke-focus: #084298;
  --text-on-bar: #fff;
}

.dark {
  --row-bg: #1f1f1f;
  --row-alt-bg: #2c2c2c;
  --row-selected-bg: #294481;
  --bar-bg: #2657b3;
  --bar-bg-active: #1f3e8a;
  --bar-bg-drag: #122f5b;
  --bar-stroke-focus: #122f5b;
  --text-on-bar: #fff;
}
