// FIXME: adapt labels.vue so that it can be used for this as well 
.labels-list {
  a, a:hover {
    text-decoration: none;
  }

  .tag {
    margin: .5rem 0 .5rem .5rem;
    background: var(--grey-200);

    // FIXME: only used in ListLabels.vue
    &.disabled {
      opacity: 0.7;

      &, a {
        cursor: default;
      }
    }
  }

  .multiselect .tag {
    margin: 0 0 0 .5rem;
  }
}

.tasks .task span.tag span {
  width: auto;
}

