*, *:hover, *:active, *:focus{
  outline: none;
}

@import '../node_modules/bulmaswatch/lumen/variables';
@import "../node_modules/bulma/bulma";
@import '../node_modules/bulmaswatch/lumen/overrides';

@import url('/fonts/fonts.css');

*, *:focus, *:active{
  outline: none;
}

body {
  background: url('../public/images/background.jpg') fixed repeat #f5f5f5;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400 !important;
}

/* spinner */
.fullscreen-loader-wrapper {
  position: fixed;
  background: rgba(250,250,250,0.8);
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  position: absolute;
  width: 78%;
  height: 100%;
  margin: -1em auto;
}

.full-loader-wrapper{
  background: rgba(250,250,250,0.8);

  position: absolute;
  width: 78%;
  height: 100%;
  margin: -1em auto;
}

.half-circle-spinner, .half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
}

.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(60px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
  border-top-color: #4CAF50;
  animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: #4CAF50;
  animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);

  }
  100%{
    transform: rotate(360deg);
  }
}

/* Logout-icon */
.logout-icon {
  padding-right: 2em !important;
}

/* Logo */
.logo {

  padding-left: 2rem !important;

  img {
    max-height: 3rem !important;
    margin-right: 1rem;
  }
}

/* Buttons icons */
.button .icon.is-small {
  margin-right: 0.05rem !important;
}

/* List active link */
.menu-list a.router-link-active{
  background: darken(#fff, 5%);
}

/* menu buttons */
.button-bottom {
  margin-bottom: 1rem;
}

/* Namespaces list */
.namespaces-lists{
  .menu-label {
    font-size: 1em;
    font-weight: 400;
    min-height: 2.5em;
    padding-top: 0.3em;
  }

  /* Namespace settings */
  .nsettings{
    vertical-align: middle;
    float: right;
    margin-left: 0.5rem;
    min-width: 2.648em;
    color: rgb(74, 74, 74);
  }
}

.bigbuttons{
  margin-top: 0.5rem;
}

.card{
  margin-bottom: 1rem;
}

.buttonright {
  margin-right: 0.5rem;
}

.tasks {
  margin-top: 1rem;
  padding: 0;
  text-align: left;

  .task {
    display: block;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid darken(#fff, 10%);

    label{
      width: 96%;
      display: inline-block;
      cursor: pointer;
    }

    input[type="checkbox"] {
      vertical-align: middle;
    }

    .settings{
      float: right;
      width: 4%;
      cursor: pointer;
    }
  }

  .task:last-child {
    border-bottom: none;
  }
}

.taskedit{
  min-height: calc(100% - 1rem);
  margin-top: 1rem;
}

.settings{
  float: right;
  color: rgb(74, 74, 74);
}