.app-container.has-background,
.link-share-container.has-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

	// FIXME: move to pagination component
  .pagination-link:not(.is-current) {
    background: var(--grey-100);
  }

  .box,
  .card,
  .switch-view,
  .table-view .button,
  .filter-container .button,
  .search .button {
    box-shadow: none;
  }

  .task-view {
    border-radius: $radius;
    margin: 0 1rem;
  }

  .kanban .tasks {
    background: transparent;

    .task {
      border-radius: $radius !important;
    }
  }
}