.app-container {
  min-height: calc(100vh - 65px);
  @media screen and (max-width: $tablet) {
    padding-top: $navbar-height;
  }

  .app-content {
    padding: $navbar-height + 1.5rem 1.5em 0 1.5em;
    z-index: 2;

    &.is-menu-enabled {
      margin-left: 17vw;
    }

    @media screen and (max-width: $tablet) {
      margin-left: 0;
      padding-top: 1.5em;
      min-height: calc(100vh - 4rem);
    }

    .card {
      background: #fff;
    }
  }
}

.noauth-container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

  @media screen and (max-width: 450px) {
    .login-buttons {
      flex-direction: column;

      .control:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}
