.link-share-view {
  .logo {
    max-width: 300px;
    width: 90%;
    margin: 2rem 0 1.5rem;
  }

  .column {
    max-width: 100%;
  }

  .card {
    background: $white;
  }

  .title {
    text-shadow: 0 0 1rem $white;
  }
}

.field.has-addons.no-input-mobile {
  .control:first-child {
    width: 100%;
  }

  .button {
    height: 40px;
  }

  @media screen and (max-width: $tablet) {
    .control:first-child {
      display: none;
    }

    .button {
      border-radius: $radius !important;
    }
  }
}

.sharables-list:not(.card-content) {
  overflow-y: auto
}

.link-share-container {
  &.has-background,&.list\.kanban-view {
    .container {
      max-width: 100vw;

      .column {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.link-share-container:not(.has-background) {
  .list-view {
    max-width: 100%;
  }

  .loader-container, .gantt-chart-container {
    > .card {
      box-shadow: none !important;
      border: none;

      .task-add {
        padding: 1rem 0 0;
      }
    }
  }
}
