.link-share-view {
  .logo {
    max-width: 500px;
    width: 90%;
    margin: 2em 0 4em;
  }

  .logout {
    text-align: right;
    margin-bottom: 1rem;
  }

  .column {
    max-width: 100%;
  }

  .card {
    background: $white;
  }
}

.link-share-list {
  .field.has-addons {
    .control:first-child{
      width: 100%;
    }

    .button {
      height: 40px;
    }

    @media screen and (max-width: $tablet) {
      .control:first-child {
        display: none;
      }

      .button {
        border-radius: $radius !important;
      }
    }
  }
}

.sharables-list:not(.card-content) {
  overflow-y: auto
}