.loader-container {
  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;

    &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5rem);
      left: calc(50% - 2.5rem);
      width: 5rem;
      height: 5rem;
      border-width: 0.25rem;
    }
  }
}

.spinner {
  &.is-loading {
    pointer-events: none;

    &:after {
      @include loader;
      width: 2rem;
      height: 2rem;
      margin-left: calc(50% - 1rem);
      position: absolute;
      margin-top: 1rem;
      z-index: 999;
      border-width: 0.25rem;
    }
  }
}
