.notification {
  border: $thickness solid $border;
}

.notifications {
  left: 0.5rem !important;
  bottom: 1rem !important;

  .notification-wrapper .notification {
    border-radius: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0.4rem;
  }
}

.message {
  .message-body {
    border: $thickness solid;
  }
}
