{{template "mail-header.tmpl" .}}
<p>
    Hi {{.User.Username}},<br/>
    <br/>
    Your account password was successfully changed.
    <br/>
    If this wasn't you, it could mean someone compromised your account. In this case contact your server's administrator.
</p>
{{template "mail-footer.tmpl"}}