{{template "mail-header.tmpl" .}}
<p>
    Hi {{if .User.Name}}{{.User.Name}}{{else}}{{.User.Username}}{{end}},<br/>
    <br/>
    This is a friendly reminder of the task "{{.Task.Title}}".<br/>
</p>
<a href="{{.FrontendURL}}tasks/{{.Task.ID}}" title="Open Task" style="-webkit-box-shadow: 0.3em 0.3em 1em #b2d0ff; box-shadow: 0.3em 0.3em 1em #b2d0ff; background-color: #1973ff; border-color: transparent; color: #fff; text-decoration: none; text-align: center; text-rendering: optimizelegibility; text-transform: uppercase; font-weight: bold; font-size: 14px; padding: 10px 14px; margin: 10px auto; border-radius: 4px; user-select: none; display: block; width: 280px;font-family:sans-serif">
    Open Task
</a>
<p>
    If the button above doesn't work, copy the url below and paste it in your browsers address bar:<br/>
    {{.FrontendURL}}tasks/{{.Task.ID}}
</p>
<p>
    Have a nice day!
</p>
{{template "mail-footer.tmpl"}}