name: ci

on:
  pull_request:
  push:
    tags:
      - v*
    branches:
      - main
      - fix-ci

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml
    secrets: inherit

  release:
    name: Release
    if: ${{ github.ref_type == 'tag' || github.ref_name == 'main' }}
    uses: ./.github/workflows/release.yml
    needs:
      - test
    secrets: inherit
